@import url("./root.css");
@import url("./nav-bar.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--textColorOnBackground);
    margin: 0;
    overflow: auto;
    transition: all;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-duration: 200ms;
}

.dark {
    --background: rgb(48, 48, 53);
    --primary: rgb(218, 84, 84);
    --textColorOnBackground: white;
}

.light {
    --background: rgb(243, 238, 238);
    --primary: rgb(236, 82, 82);
    --textColorOnBackground: black;
}

.content-primary,
.content-secondary {
    display: flex;
    align-items: center;
    height: content;
}

.content-secondary {
    flex-direction: row-reverse;
}

.content-image {
    width: 52%;
    height: 100%;
}

.content-text {
    width: 48%;
    padding: 10px;
}

.content-text>p {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
}

@media (max-width: 1300px) {

    .content-primary,
    .content-secondary {
        flex-direction: column;
    }

    .content-image {
        width: 100%;
        height: 50%;
    }

    .content-text {
        width: 100%;
    }
}