:root {
    --primary: rgb(236, 82, 82);
    --secondary: ;
    --background: rgb(48, 48, 53);
    --textColorOnBackground: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--textColorOnBackground);
    margin: 0;
    overflow: auto;
}

.dark {
    --background: rgb(48, 48, 53);
    --primary: rgb(218, 84, 84);
    --textColorOnBackground: white;
}

.light {
    --primary: rgb(236, 82, 82);
    --background: rgb(243, 238, 238);
    --textColorOnBackground: black;
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
}

.nav-icon {
    position: absolute;
    left: 0;
    border: 1px solid;
    margin-left: 10px;
    padding: 5px;
    color: var(--textColorOnBackground)
}

.nav-item {
    appearance: none;
    text-decoration: none;
    color: var(--textColorOnBackground);
    position: relative;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--textColorOnBackground);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.nav-item:hover {
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: rgba(255, 255, 255, 0.116);
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.route-current::after {
    transform: scaleX(1);
}

#themeToggle {
    position: absolute;
    right: 0;
    border: 1px solid;
    margin-right: 10px;
    padding: 5px;
}

.content {}

.content-primary {
    display: flex;
    align-items: center;
    height: content;
}

.content-primary-image {
    width: 52%;
    height: 100%;
}

.content-primary-text {
    width: 48%;
    padding: 10px;
}

.content-primary-text>p {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
}

@media (max-width: 1300px) {
    .content-primary {
        flex-direction: column;
    }

    .content-primary-image {
        width: 100%;
        height: 50%;
    }

    .content-primary-text {
        width: 100%;
    }
}